{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit {{ task['task_name'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="task_name">Task Name</label>
    <input name="task_name" id="task_name" value="{{ request.form['task_name'] or task['task_name'] }}" required>
    <label for="task_description">Task Description</label>
    <textarea name="task_description" id="task_description">{{ request.form['task_description'] or task['task_description'] }}</textarea>
    <label for="task_deadline">Task Deadline</label>
    <input type="date" name="task_deadline" id="task_deadline" value="{{ request.form['task_deadline'] or task['task_deadline'] }}" required>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('tasks.delete', task_id=task['task_id'], group_id=task['group_id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
