{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit {{ group['group_name'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="group_name">Group Name</label>
    <input name="group_name" id="group_name" value="{{ request.form['group_name'] or group['group_name'] }}" required>
    <label for="group_description">Group Description</label>
    <textarea name="group_description" id="group_description">{{ request.form['group_description'] or group['group_description'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('groups.delete', group_id=group['group_id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
